%p
  User: #{@user.name}
%p
  Email: #{@user.email if @user.email}

.create-an-adventure
  = link_to("Create a New Adventure", new_adventure_path)

.my-adventures

  %table
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

    - @user.adventures.each do |adventure|
      %tr
        %td= adventure.name
        %td= adventure.description
        %td= link_to 'Show', adventure
        %td= link_to 'Edit', edit_adventure_path(adventure)
        %td= link_to 'Destroy', adventure, :confirm => 'Are you sure?', :method => :delete
